
<form name="contact" action="">

    <div class="form-row">
        <div class="item">
            <label for="name">Name</label>
            <input type="text" name="name" />
        </div>
        <div class="item">
            <label for="company">Company</label>
            <input type="text" name="company" />
        </div>
    </div>

    <div class="form-row">
        <div class="item">
            <label for="email">Email</label>
            <input type="text" name="email" />
        </div>
        <div class="item">
            <label for="confirm_email">Confirm Email</label>
            <input type="text" name="confirm_email" />
        </div>
    </div>

    <div class="form-row">
        <div class="item">
            <label for="interest">Subject</label>
            <select name="interest">
                <option value="empty" selected disabled>I am interested in...</option>
                <option value="Maintenance">Maintenance</option>
                <option value="Buying Equipment">Buying Equipment</option>
                <option value="Selling Equipment">Selling Equipment</option>
                <option value="General Inquiries">General Inquiries</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="item">
            <label for="phone">Phone</label>
            <input type="text" name="phone" />
        </div>

        <div class="item">
            <label for="country">Country</label>
            <input type="text" name="country" />
        </div>
    </div>

    <div class="form-row">
        <div class="item">
            <label for="message">Message</label>
            <textarea type="text" name="message"/></textarea>
        </div>
    </div>

    <div class="form-row">
        <div class="item">
            <input type="submit" name="submit" class="btn" value="Send" />
        </div>
    </div>
</form>
