
<form name="contact" action="">
    <label for="name" id="name_label">Name</label>
    <input type="text" name="name" id="name" size="30" value="" class="text-input" />

    <label for="email" id="email_label">Email</label>
    <input type="text" name="email" id="email" size="30" value="" class="text-input" />

    <label for="subject" id="phone_label">Subject</label>
    <input type="text" name="subject" id="subject" size="30" value="" class="text-input" />

    <input type="submit" name="submit" class="button" id="submit_btn" value="Send" />
</form>
