<div id="masthead">
    {{#each slide}}
    <div style="background-image: url('./assets/img/{{src}}');"><div class="info"><h1>{{title}}</h1><p>{{copy}}</p><a class="btn" href="{{href}}">Learn More</a></div></div>
    {{/each}}
</div>
