        <div id="menu">
            <div class="logo"><a class="home" href="../"></a></div>
            <div class="nav">
                <ul class="main-menu">
                    {{#withSort this.pages 'data.order'}}
                    {{#is this.data.nav 'main'}}
                    <li {{#if isCurrentPage}} class="active"{{/if}}><a href="../{{this.data.slug}}">{{this.data.title}}</a></li>
                    {{/is}}
                    {{/withSort}}
                </ul>

                <ul class="sub-menu">
                    <li><i class="fa fa-caret-right"></i> Give us a call at <span>(610) 544-0571</span> or write to <a href="mailto:onlinesales@allenmyland.com">onlinesales@allenmyland.com</a></li>
                </ul>
            </div>
        </div>
