    </div><!--#container-->

    <footer>
        <div class="frame"></div>
    </footer>

    <script src="{{assets}}/js/script.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'> -->
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
