$menuheight: 100px;

$spacefix: 16px;
$space: 2%;

$white:  #f6f6f6;
$light: $white/1.03;
$dark: #26272b;
$lightgray: #DFE0DD;
$red: #C1232C;

$pfontsize: .95em;
$letterspace: .025em;

$gradient: linear-gradient(to right, #22ad3c 0%,#2989d8 33%,#7ece29 66%,#7db9e8 100%);
$gradient2: linear-gradient(to right, orange 0%, $red 50%, orange 100%);
$gradient3: linear-gradient(to right, #111 0%, $dark 50%, #111 100%);
