// VARIABLES
@import "src/bonnet/scss/_variables.scss";


footer {
    background: $dark;
    color: #717275;
    font-size: .8em;
    div.content {
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: $spacefix/2 0;
        div.logo {
            background: url('../img/ami-logo-white-mobile.svg') no-repeat top left;
            width: 65px;
            height: 60px;
            background-size: contain;
            border-width: 0 1px 0 0;
            margin: -5px $spacefix/2 0;
            opacity: .35;
        }
        ul.main-menu {
            flex: 1;
            li {
                display: inline;
                margin: 0 $spacefix/2;
            }
        }
    }
}

//iPad Mini landscape
@media all and (max-width: 1024px) {

}


//iPhone 6
@media all and (max-width: 414px) {

}

//iPad Mini landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {

}


//iPad Mini Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {

}


//iPhone 6+ landscape
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

}


//iPhone 6+ Portrait
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

}


//iPhone 6 landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {

}


//iPhone 6 Portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

}


//iPhone 5 landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : landscape) {

}


//iPhone 5 Portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {

}
