// VARIABLES
@import "src/bonnet/scss/_variables.scss";

#services.content {

    .holder {
        display: flex;
        flex-wrap: wrap;
        article {
            width: 80%;
            margin: 0 auto $spacefix*2;
            padding: 0 $space*2;
            h2 {
                margin: 0 0 $spacefix;
            }
            p {
                margin: 0 0 $spacefix;
                font-size: 1.1em;
            }
            ul {
                width: 90%;
                margin: $spacefix*2 auto;
                li {
                    margin: 0 0 $spacefix;
                    list-style-type: square;
                    b {
                        font-weight: 700;
                    }
                }
            }
        }
        article:last-of-type {
            ul {
                width: 100%;
                li {
                    list-style-type: none;
                }
            }
        }
    }
}






//iPad Mini landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {

}


//iPad Mini Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {

}


//iPhone 6+ landscape
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

}


//iPhone 6+ Portrait
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

}


//iPhone 6 landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {

}


//iPhone 6 Portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

}


//iPhone 5 landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : landscape) {

}


//iPhone 5 Portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {

}
