// VARIABLES
@import "src/bonnet/scss/_variables.scss";

.hide {display: none;}

* {
    font-size: 100%;
    color: inherit;
    font-weight: 400;
    font-family: inherit;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: helvetica neue, helvetica;
}

body {
    background: $white;
    color: $dark;
    border-top: $red 2px solid;
}

h1, h2 {
    font-family: Montserrat;
}

h1 {
    font-size: 1.75em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.1em;
    font-weight: 500;
}

.btn {
    font-size: 1.15em;
    font-family: Montserrat;
    color: $white;
    font-weight: 900;
    padding: $spacefix/1.5 $spacefix;
    background: $red;
    border-radius: 2px 20px 2px 20px;
    text-transform: uppercase;
    display: inline-block;
    border: none;
}



//LAYOUT

#container {
    max-width: 1280px;
    min-height: 800px;
    margin: 0 auto;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: $spacefix*3 0;
}
