// VARIABLES
@import "src/bonnet/scss/_variables.scss";

#supported-equipment.content {
    // width: 80%;
    .holder {

        ul.machine {
            display: flex;
            flex-wrap: wrap;
            padding: 0 $space*2;
            h2 {
                margin: 0 0 $spacefix;
                width: 100%;
            }
            > li {
                width: 33.3%;
                margin: 0 0 $spacefix*2;
                ul {

                    li {
                        list-style-type: square;
                        list-style-position: inside;
                    }
                }
            }
        }
    }
}

//iPad Mini landscape
@media all and (max-width: 1024px) {

}


//iPhone 6
@media all and (max-width: 414px) {

}

//iPad Mini landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {

}


//iPad Mini Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait) {

}


//iPhone 6+ landscape
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {

}


//iPhone 6+ Portrait
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {

}


//iPhone 6 landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {

}


//iPhone 6 Portrait
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

}


//iPhone 5 landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : landscape) {

}


//iPhone 5 Portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation : portrait) {

}
